<!DOCTYPE html>
<html>
  <head>
   <title>ADD BOOK</title>
  </head>
<body>
  <h1><strong>ADD NEW BOOK TO THE LIBRARY</strong></h1>
  <form action="/add" method="post">
   <label >ENTER BOOK NAME:</label>
   <input type="text" placeholder="bookname" name="bookname">
   <br>
   <label >ENTER AUTHORS NAME:</label>
   <input type="text" placeholder="authorname" name="authorname">
   <br>
   <label >ENTER BOOKS SERIAL NO:</label>
   <input type="text" placeholder="booksno" name="booksno">
   <br>
   
   <input type="submit" value="ADD" />
   <input type="reset"  value="RESET" />
<br> 
<a href="http://localhost:5000/task" >Back to task menu</a>
<br> 
<a href="http://localhost:5000/logout" >LOGOUT</a>      
</form>
</body> </html>
