<!DOCTYPE html>
<html>
  <head>
   <title>DELETE BOOK</title>
  </head>
<body>
  <h1><strong>DELETE BOOK FROM THE LIBRARY</strong></h1>
   
  <form action="/delete" method="post">
  <label >ENTER BOOK ID :</label>
  <input type="text" placeholder="bookid" name="bookid">
  <br>
  <input type="submit" value="DELETE" />
  <input type="reset"  value="RESET" />
<br> 
<a href="http://localhost:5000/task" >Back to task menu</a>
<br> 
<a href="http://localhost:5000/logout" >LOGOUT</a>  
</form>
</body> 
</html>  