<!DOCTYPE html>
<html>
  <head>
   <title>LIBRARY</title>
  </head>
<body>
<h1><strong>LIBRARY</strong></h1>	
<form name="loginForm" action="" method="post">
<label >USERMAILID</label>	
<input type="text" placeholder="usermailid" name="usermailid">
<br>
<label >PASSWORD</label>
<input type="password" placeholder="Password" name="password">
<br>
<input type="submit" value="LOGIN" />
<input type="reset"  value="RESET" />                    
 </form>
<a href="/register">NEW USER REGISTRATION</a>      

</body>  
</html>
