<!DOCTYPE html>
<html>
  <head>
   <title>LIBRARY</title>
  </head>
<body>
<h1><strong>NEW USER REGISTRATION</strong></h1>
<form action="/register" method="post">
<label >USERNAME:</label>	
<input type="text" placeholder="Username" name="username">
<br>
<label >USERPASSWORD:</label>
<input type="password" placeholder="userpassword" name="userpassword">
<br>
<label >USERMAILID:</label>
<input type="text" placeholder="usermailid" name="usermailid">
<br>
<label >USERPHONENO:</label>
<input type="text" placeholder="userphoneno" name="userphoneno">
<br>
<label >USERROLE:</label>
<select name="userrole" placeholder="userrole">
	<option value="user" >User</option>
    <option value="admin">Admin</option>
</select>
<br>
<input type="submit" value="REGISTER" />
<input type="reset"  value="RESET" />
</form> 
</body> 
</html> 